In [2]:
#importing libraries
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pickle
pd.set_option('display.max_columns', None)

In [3]:
with open('./files_for_lesson_and_activities/data_cleaned.pickle', 'rb') as fp:
    data = pickle.load(fp)

In [4]:
data

,STATE,DOB,MDMAUD,GENDER,DOMAIN,INCOME,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT,ic2_
0,IL,3712,XXXX,F,T2,NaN,479,635,3,2,307,318,349,378,12883,74,27,6,14,9702,L4E,31,4.0,7.741935,Low
1,CA,5202,XXXX,M,S1,6.0,5468,5218,12,10,1088,1096,1026,1037,36175,32,12,6,13,9702,L2G,3,18.0,15.666667,High
2,NC,0,XXXX,M,R2,3.0,497,546,2,1,251,292,292,340,11576,63,26,6,14,9702,L4E,27,12.0,7.481481,Low
3,CA,2801,XXXX,F,R2,1.0,1000,1263,2,1,386,388,396,423,15130,66,27,6,14,9702,L4E,16,9.0,6.812500,Moderate
4,FL,2001,XXXX,F,S2,3.0,576,594,4,3,240,250,293,321,9836,113,43,10,25,9702,L2F,37,14.0,6.864865,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90564,FL,4803,XXXX,F,S2,6.0,733,875,4,3,285,288,333,334,11390,59,23,5,12,9702,L4D,24,3.0,3.375000,Low
90565,other,0,XXXX,M,C2,NaN,988,1025,6,6,433,481,499,535,18807,14,6,5,12,9702,L1G,1,NaN,25.000000,Moderate
90566,TX,5001,XXXX,M,C1,7.0,1679,1723,3,3,806,836,802,849,26538,10,4,3,8,9702,L1F,1,NaN,20.000000,High
90567,MI,3801,XXXX,M,C3,NaN,376,377,4,3,263,264,319,345,12178,33,14,7,17,9702,L3E,7,3.0,8.285714,Low
90568,NC,1801,C1CM,F,C1,5.0,938,1049,5,5,451,474,499,519,16699,139,32,6,35,9702,L1G,39,6.0,96.794872,Moderate

In [5]:
# No NaNs so just remove outliers (normalization method)
def outliers(column, threshold = 3):
    """
    docs
    """

    data = column[abs(column.apply(lambda x: (x - column.mean()) / column.var() ** (1/2))) > threshold]
    return data

In [8]:
CLV_outliers = outliers(customer_df["customer_lifetime_value"])
MPA_outliers = outliers(customer_df["monthly_premium_auto"])

NameError: name 'customer_df' is not defined

In [9]:
to_drop = CLV_outliers.index | MPA_outliers.index # Union
clean_customer_df = customer_df.drop(to_drop).reset_index(drop = True)
clean_customer_df

NameError: name 'CLV_outliers' is not defined

In [10]:
df_copy = clean_customer_df.copy()

NameError: name 'clean_customer_df' is not defined

In [11]:
# Normalizing continuous variables (but target)

continuous.remove("months_since_policy_inception")
continuous.remove("total_claim_amount")
for cont_var in continuous:
    maximum = clean_customer_df[cont_var].max()
    minimum = clean_customer_df[cont_var].min()
    clean_customer_df[cont_var] = clean_customer_df[cont_var].apply(lambda x: (x - minimum) / (maximum - minimum))

NameError: name 'continuous' is not defined